body {
    -webkit-animation: colorchange 20s infinite;
    animation: colorchange 20s infinite;
  }
  @-webkit-keyframes colorchange {
    0% {
      background: #8ebf42;
    }
    25% {
      background: #e6ebef;
    }
    50% {
      background: #1c87c9;
    }
    75% {
      background: #095484;
    }
    100% {
      background: #d0e2bc;
    }
  }
  @keyframes colorchange {
    0% {
      background: #8ebf42;
    }
    5% {
        background: #e15866;
      }   
     10% {
      background: #e6ebef;
    }
    15% {
        background: #b5bf42;
      }
    20% {
      background: #1cc933;
    }
    25% {
      background: #095484;
    }
    30% {
      background: #338e5d;
    }
    35% {
        background: #e90f0f;
      }
  }
.header{ 
    text-align: center;
    text-size: 18px;
    background-color: #7272f1;
    color: white
}
.subheader{
    text-align: center;
    text-size: 18px;
    background-color: #aeaef3;
    color: white

}