body {
   background-color: #011119; 
  }
.header{ 
    text-align: center;
    text-size: 18px;
    background-color: #7272f1;
    color: white
}
.subheader{
    text-align: center;
    text-size: 18px;
    background-color: #aeaef3;
    color: white

}
.otherwebpages{
    list-style-type: none;
    font-size: 20px;
}
ul {
    list-style: outside none none;
}
.Mathrepo{
    border-style: ridge;
    border-width: 4px;
    width: 360px;
    background-color: #1c87c9;
    color:white;
    list-style: none;
     
}
.Mathrepo h3{text-align: center;}
a:link {
    color: rgb(255, 255, 255);
  }
  /* visited link */
  a:visited {
    color: #dddddd;
  }
  /* mouse over link */
  a:hover {
    color: #8ebf42;
  }
  /* selected link */
  a:active {
    color: #800000;
  }
.subheader{
    length: 10px;
    background-color: rgb(114, 191, 226)
}
.menu{
    background-color: #38927b;
    length:10px; 
    text-align: center;
}
.SWT{
    border-style: ridge;
    border-width: 4px;
    width: 360px;
    background-color: #21855a;
    color:white;
    list-style: none;
    float: left
}
